<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Three.js Cube</title>
    <link rel="stylesheet" type="text/css" href="histogram.css">

</head>
<body onload="onLoad();">
    <!--script src="../lib/mrdoob-three.js-d6384d2/build/three.js"></script-->
    <!-- Uses http://stackoverflow.com/questions/17341122/link-and-execute-external-javascript-file-hosted-on-github -->
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/build/three.min.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/controls/OrbitControls.js"></script>
    <script type="x-shader/x-vertex" id="vertexShader">
        varying vec3 vColor;

        void main()
        {
            vColor = vec3( position.x + 0.5, position.y + 0.5, position.z + 0.5 );

            gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
        }
    </script>
    <script type="x-shader/x-vertex" id="fragmentShader">
        varying vec3 vColor;

        void main( void )
        {
            gl_FragColor = vec4(vColor, 1);

        }
    </script>
    <script src="../controller/controller.js"></script>
    <script src="../model/colorTest.js"></script>
    <script src="../view/view.js"></script>

    <div id="user_inputs_div">
        <input type="file" id="file_input">
    </div>
    <div id="image_holder">
        <canvas id="image_canvas"></canvas>
    </div>
    <div id="histogram_holder">
        <!-- Contents generated and inserted in JavaScript code !-->
    </div>
</body>
</html>